/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #d5a8df;
    color: #333;
    padding: 20px;
    line-height: 1.6;
    text-align: center;
    
}

/* Navigation Bar */
.navbar {
    background-color: #721c88;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #b746d7;
}

.content {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

/* Flex Container Styling */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-container .service-item {
    flex: 1 1 calc(50% - 40px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.flex-container .service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Grid Container Styling */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.grid-container .portfolio-item {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.grid-container .portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

img.small {
    max-width: 200px;
    margin: 20px auto;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer Styling */
.footer {
    background-color: #721c88;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 0.9em;
    border-radius: 10px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: hsl(104, 75%, 57%);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #ffd700;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #1a1a1a;
    color: #ffd700;
}
